body {
    background-color: black;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* HERO SECTION */
.hero {
    height: 100vh;
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/5f0fbc43-3e17-4d8c-bc31-63f495fac1e7/6b6f21d5-bb2e-4db1-a1e0-9f741b52d7c5/IN-en-20240101-popsignuptwoweeks-perspective_alpha_website_large.jpg")
    center/cover no-repeat;
    position: relative;
}

.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
}

.hero .container {
    position: relative;
    z-index: 2;
}

.feature-section {
    background-color: black;
}

.accordion-button::after {
    filter: invert(1);
}